<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <title>의약품 확인 사이트</title>
</head>
<style>
    *{
        font-family:'Nanum Pen Script', cursive;
        font-size: 20px;
    }
</style>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <title>의약품 확인 사이트</title>
</head>
<style>
    *{
        font-family:'Nanum Pen Script', cursive;
        font-size: 20px;
    }
    body{
        margin: 15px;
    }
</style>
<body>
    <br>
    <h3>이동 메뉴</h3>
    <div class="list-group" style="width:15%; height:100%; float:left;" >
        <a href="/mainpage" class="list-group-item list-group-item-action" target="ifr">Home</a>
        <a href="/uhanmain" class="list-group-item list-group-item-action" target="ifr">유한양행(주)</a>
        <a href="/uhanmed" class="list-group-item list-group-item-action" style="text-align:right;" target="ifr">의약품</a>
        <a href="/uhanmed2" class="list-group-item list-group-item-action" style="text-align:right;" target="ifr">의약외품</a>
        <a href="/uhanmed3" class="list-group-item list-group-item-action" style="text-align:right;" target="ifr">한약(생약)</a>
        <a href="/nokmain" class="list-group-item list-group-item-action" target="ifr">녹십자</a>
        <a href="/nokmed" class="list-group-item list-group-item-action" style="text-align:right;" target="ifr">의약품</a>
        <a href="/nokmed2" class="list-group-item list-group-item-action" style="text-align:right;" target="ifr">의약외품</a>
        <a href="/nokmed3" class="list-group-item list-group-item-action" style="text-align:right;" target="ifr">한약(생약)</a>
        <a href="/kwangmain" class="list-group-item list-group-item-action" target="ifr">광동제약</a>
        <a href="/kwangmed" class="list-group-item list-group-item-action" style="text-align:right;" target="ifr">의약품</a>
        <a href="/kwangmed2" class="list-group-item list-group-item-action" style="text-align:right;" target="ifr">의약외품</a>
        <a href="/kwangmed3" class="list-group-item list-group-item-action" style="text-align:right;" target="ifr">한약(생약)</a>
        <a href="addmed" class="list-group-item list-group-item-action" style="text-align:right; font-size: 10px;" target="ifr">약품 추가</a>
      </div>

    <iframe name='ifr' src="/mainpage" width="85%" style="height: 100vh;" frameborder="0"></iframe>
</body>
</html>
