<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><img src='/static/KakaoTalk_20221206_140032387.png',target='myid'></h1>
    <h1><img src='/static/KakaoTalk_20221206_140032456.png',target='myid'></h1>
</body>
    <iframe name="myid", src="/" width='50%' height='500',frameborder='0'></iframe>

</html>