<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/hw1proc" method="get" target="myie">
        <label>나이:</label>
        <input type="number" name="age"><br>
        <label>키:</label>
        <input type="number" name="height"><br>
        <label>몸무게:</label>
        <input type="number" name="weight"><br>
        <label>성별:</label>
        <input type="number" name="gender"><br>
        <label>고혈압유무:</label>
        <input type="number" name="hypertension"><br>
        <label>심장병유무:</label>
        <input type="number" name="heart_disease"><br>
        <label>결혼유무:</label>
        <input type="number" name="ever_married"><br>
        <label>거주형태:</label>
        <input type="number" name="Residence_type"><br>
        <label>직업형태:</label>
        <input type="number" name="work_type"><br>
        <label>혈당수치:</label>
        <input type="text" name="avg_glucose_level"><br>
        <label>흡연유무:</label>
        <input type="number" name="smoking_status"><br>
        
        <button>결과</button>
    </form>
    <iframe name="myie" width="100%" height="500" frameborder="0"></iframe>
</body>
</html>